NODE_ENV=development
APP_NAME=NextJS Blog
FILE_UPLOAD_PATH= ./public/uploads
USER_PROFILE_UPLOAD_PATH= ./public/uploads/users
PORT=8080
CLIENT_URL=http://localhost:3000
MONGODB_CLOUD=
MONGODB_LOCAL=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOGOLE_CLIENT_SECRET=